# Unity 项目：只忽略不需要的文件和目录
open_mahjong_unity/*
!open_mahjong_unity/Assets/
!open_mahjong_unity/ProjectSettings/
!open_mahjong_unity/Packages/manifest.json
**/__pycache__/
**/error_log/

# 服务器项目：只忽略不需要的文件和目录
open_mahjong_server/*
!open_mahjong_server/server/

# 聊天服务器项目：不忽略任何文件和目录

# Web项目：只忽略不需要的文件和目录
open_mahjong_web/*
!open_mahjong_web/client/
!open_mahjong_web/server/

# 忽略.gitignore
!.gitignore



