# 忽略 VSCode 配置文件夹
.vscode/

# 忽略 Unity 项目目录下的所有内容
open_mahjong_unity/**
# 但保留以下必要内容
!open_mahjong_unity/Assets/
!open_mahjong_unity/Assets/**
!open_mahjong_unity/ProjectSettings/
!open_mahjong_unity/ProjectSettings/**
!open_mahjong_unity/Packages/
!open_mahjong_unity/Packages/**
# 保留 lock 文件
!open_mahjong_unity/Packages/manifest.json
!open_mahjong_unity/Packages/packages-lock.json
# 忽略 Unity 自动生成的 IDE 和临时文件
# open_mahjong_unity/*.csproj
# open_mahjong_unity/*.sln
open_mahjong_unity/*.userprefs
open_mahjong_unity/*.pidb
open_mahjong_unity/*.booproj
open_mahjong_unity/*.svd
open_mahjong_unity/*.pdb
open_mahjong_unity/*.opendb

# 服务器项目：只忽略不需要的文件和目录
open_mahjong_server/* 
# 保留依赖和配置文件
!open_mahjong_server/requirements.txt
!open_mahjong_server/main.py
!open_mahjong_server/start_server.bat

# 保留 server 目录
!open_mahjong_server/server/
open_mahjong_server/server/__pycache__/*
open_mahjong_server/server/error_log/*

open_mahjong_server/server/chat_server/__pycache__/*
open_mahjong_server/server/game_calculation/__pycache__/*
open_mahjong_server/server/game_gb/__pycache__/*
open_mahjong_server/server/database/__pycache__/*
open_mahjong_server/server/local_config.py

# 聊天服务器项目：不忽略任何文件和目录
!open_mahjong_server/server/chat_server/

# Web项目：只忽略不需要的文件和目录
open_mahjong_web/node_modules/*
open_mahjong_web/client/node_modules/*

# 不忽略.gitignore
!.gitignore



